<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:rd="http://typo3.org/ns/TYPO3/CMS/Redirects/ViewHelpers"
			xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
			data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="headline">
	<h1><f:translate key="LLL:EXT:faq_t3demo/Resources/Private/Language/locallang_module.xlf:heading_text"/></h1>
</f:section>

<f:section name="content">
	<p>
		<f:translate key="LLL:EXT:faq_t3demo/Resources/Private/Language/locallang_module.xlf:description_text"/>
	</p>

	<div class="row">
		<div class="col-md-6">
			<div class="btn-group">
				<be:link.newRecord class="btn btn-default" table="tx_faqt3demo_faq" returnUrl="{f:be.uri(route: 'web_faq')}"
													 pid="{extensionConfiguration.pid}">
					<core:icon identifier="actions-add"/>
					<f:translate key="LLL:EXT:faq_t3demo/Resources/Private/Language/locallang_module.xlf:new"/>
				</be:link.newRecord>
			</div>
		</div>
		<div class="col-md-6 text-right">
			<form action="{f:be.uri(route:'web_faq')}"
						method="post"
						class="form-inline"
						enctype="multipart/form-data"
						class="form-inline form-inline-spaced">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="{f:translate(key:'LLL:EXT:faq_t3demo/Resources/Private/Language/locallang_module.xlf:search_placeholder')}" name="filter" value="{filter}">
				</div>
				<button class="btn btn-default" type="submit">
					<core:icon identifier="actions-search"/>
				</button>
			</form>
		</div>
	</div>
	<f:format.raw>{dblist}</f:format.raw>

</f:section>
