@import "../Scss/variables";
@import "../Scss/base";
@import "../Scss/fonts";

.b_keyvisual {
    background-color: $color-white;
    margin-bottom: $content-spacing-l;
    padding-bottom: $content-spacing-m;
    &__contentcontainer {
        margin: 0 auto;
    }
    &__picture {
        display: contents;
    }
    &__image {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    &__textblock {
        margin-top: 16px;
        margin-bottom: 0;
    }
}



@media screen and (min-width: 1024px) {
    .b_keyvisual {
        padding-bottom: 0;
        margin-bottom: 0;
        &__contentcontainer {
            display: flex;
            flex-direction: row-reverse;
            max-width: 1280px;
        }
        &__image {
            width: 563px;
            height: 375px;
        }
        &__textblock {
            margin-inline-start: 40px;
            margin-inline-end: 40px;
            flex-grow: 1;
            vertical-align: middle;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        &__header {
            margin-bottom: $content-spacing-m;
        }
        &__text {
            margin-top: 0;
        }
    }
}

@media screen and (min-width: 1280px) {
    .b_keyvisual {
        &__image {
            width: 709px;
            height: 474px;
        }
        &__textblock {
            margin-inline-start: 50px;
            margin-inline-end: 50px;
        }
    }
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 48px;
        margin-bottom: $content-spacing-m;
    }

    h2 {
        font-size: 36px;
    }

    h3,
    h4 {
        font-size: 24px;
    }

    ol,
    ul,
    p {
        font-size: 18px;
        margin: $paragraph-margin-md 0;
    }

    small {
        font-size: 16px;
    }

}
