$font-directory: '/typo3conf/ext/site_t3demo/Resources/Public/Fonts';

@font-face{
	font-family: 'SourceSerifPro';
	src: url('#{$font-directory}/SourceSerifPro/SourceSerifPro-Bold.ttf.woff2') format('woff2'),
	url('#{$font-directory}/SourceSerifPro/SourceSerifPro-Bold.otf.woff') format('woff');
	font-display: swap;
	font-style: normal;
	font-stretch: normal;
	font-weight: 700;
}

@font-face {
	font-family: 'LatoWebLight';
	src: url('#{$font-directory}/Lato/Lato-Light.woff2') format('woff2'),
	url('#{$font-directory}/Lato/Lato-Light.woff') format('woff');
	font-display: swap;
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}
@font-face {
	font-family: 'LatoWebRegular';
	src: url('#{$font-directory}/Lato/Lato-Regular.woff2') format('woff2'),
	url('#{$font-directory}/Lato/Lato-Regular.woff') format('woff');
	font-display: swap;
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}
