<html
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	data-namespace-typo3-fluid="true"
>

<link rel="apple-touch-icon" sizes="57x57"
			href="{f:uri.resource(path: 'Assets/Favicons/apple-icon-57x57.png', extensionName: 'site_t3demo')}">
<link rel="apple-touch-icon" sizes="60x60"
			href="{f:uri.resource(path: 'Assets/Favicons/apple-icon-60x60.png', extensionName: 'site_t3demo')}">
<link rel="apple-touch-icon" sizes="72x72"
			href="{f:uri.resource(path: 'Assets/Favicons/apple-icon-72x72.png', extensionName: 'site_t3demo')}">
<link rel="apple-touch-icon" sizes="76x76"
			href="{f:uri.resource(path: 'Assets/Favicons/apple-icon-76x76.png', extensionName: 'site_t3demo')}">
<link rel="apple-touch-icon" sizes="114x114"
			href="{f:uri.resource(path: 'Assets/Favicons/apple-icon-114x114.png', extensionName: 'site_t3demo')}">
<link rel="apple-touch-icon" sizes="120x120"
			href="{f:uri.resource(path: 'Assets/Favicons/apple-icon-120x120.png', extensionName: 'site_t3demo')}">
<link rel="apple-touch-icon" sizes="144x144"
			href="{f:uri.resource(path: 'Assets/Favicons/apple-icon-144x144.png', extensionName: 'site_t3demo')}">
<link rel="apple-touch-icon" sizes="152x152"
			href="{f:uri.resource(path: 'Assets/Favicons/apple-icon-152x152.png', extensionName: 'site_t3demo')}">
<link rel="apple-touch-icon" sizes="180x180"
			href="{f:uri.resource(path: 'Assets/Favicons/apple-icon-180x180.png', extensionName: 'site_t3demo')}">
<link rel="icon" type="image/png" sizes="192x192"
			href="{f:uri.resource(path: 'Assets/Favicons/android-icon-192x192.png', extensionName: 'site_t3demo')}">
<link rel="icon" type="image/png" sizes="32x32"
			href="{f:uri.resource(path: 'Assets/Favicons/favicon-32x32.png', extensionName: 'site_t3demo')}">
<link rel="icon" type="image/png" sizes="96x96"
			href="{f:uri.resource(path: 'Assets/Favicons/favicon-96x96.png', extensionName: 'site_t3demo')}">
<link rel="icon" type="image/png" sizes="16x16"
			href="{f:uri.resource(path: 'Assets/Favicons/favicon-16x16.png', extensionName: 'site_t3demo')}">
<link rel="manifest" href="{f:uri.resource(path: 'Assets/Favicons/manifest.json', extensionName: 'site_t3demo')}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage"
			content="{f:uri.resource(path: 'Assets/Favicons/ms-icon-144x144.png', extensionName: 'site_t3demo')}">
<meta name="theme-color" content="#ffffff">

</html>
