<html
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	data-namespace-typo3-fluid="true"
>

<f:layout name="Login" />

<f:section name="loginFormFields">
	<div class="form-group t3js-login-username-section" id="t3-login-username-section">
		<div class="form-control-wrap">
			<div class="form-control-holder">
				<input type="text" id="t3-username" name="username" value="{presetUsername}" aria-label="{f:translate(key: 'login.username')}" placeholder="{f:translate(key: 'login.username')}" class="form-control input-login t3js-clearable t3js-login-username-field" autofocus="autofocus" required="required" />
			</div>
		</div>
	</div>
	<div class="form-group" id="st3-login-username-section">
		<div class="form-control-wrap">
			<div class="form-control-holder">
				<select name="userGroup" class="form-control input-login">
					<f:for each="{userGroups}" as="userGroup">
						<option value="{userGroup.uid}">{userGroup.title}</option>
					</f:for>
				</select>
			</div>
		</div>
	</div>

</f:section>

</html>
